[Unit]
Description=Mini Authenticator
After=mysql.service redis-server.service

[Service]
Type=simple
User=min-auth
Group=min-auth
EnvironmentFile=<Path to Environment File>
ExecStart=<Path to Executable>
StandardOutput=journal
StandardError=journal
SyslogIdentifier=min-auth
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
