[Unit]
Description=Mini Authenticator
After=mysql.service redis-server.service

[Service]
Type=simple
User=min-auth
Group=min-auth
ExecStartPre=<Path to min-auth-loader> -c <Path to config.toml>
ExecStart=<Path to min-auth-web> -c <Path to config.toml>
StandardOutput=journal
StandardError=journal
SyslogIdentifier=min-auth
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
