[Unit]
Description=Mini Authenticator

[Service]
Type=simple
User=min-auth
Group=min-auth
EnvironmentFile=<Path to Environment File>
ExecStart=<Path to Executable>
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=min-auth
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
